<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order and Payment Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/style.css" rel="stylesheet">
</head>
<body class="orderdetail">
<div class="details-container">
    <!-- Order Details Section -->
    <div class="details-header">
        <h5>Order Details</h5>
        <div class="order-status">
            <span>Status :</span>
            <span>Processing</span>
        </div>
    </div>

    <table class="table table-borderless details-table">
        <tbody>
            <tr>
                <td class="text-left">Order Id</td>
                <td class="text-right">1001</td>
            </tr>
            <tr>
                <td class="text-left">Customer Id</td>
                <td class="text-right">1001</td>
            </tr>
            <tr>
                <td class="text-left">Customer Name</td>
                <td class="text-right">John Doe</td>
            </tr>
            <tr>
                <td class="text-left">Order Date</td>
                <td class="text-right">2024-08-18</td>
            </tr>
            <tr>
                <td class="text-left">Product Detail</td>
                <td class="text-right">
                    <table class="table product-table mb-0">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Milk</td>
                                <td>1</td>
                                <td>50</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>Meat</td>
                                <td>1 kg</td>
                                <td>500</td>
                                <td>500</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Payment Details Section -->
    <div class="details-header">
        <h5>Payment Details</h5>
    </div>

    <table class="table table-borderless details-table">
        <tbody>
            <tr>
                <td class="text-left">Subtotal</td>
                <td class="text-right">$ 550</td>
            </tr>
            <tr>
                <td class="text-left">Tax</td>
                <td class="text-right">10%</td>
            </tr>
            <tr>
                <td class="text-left">Discount</td>
                <td class="text-right">5%</td>
            </tr>
            <tr>
                <td class="text-left">Delivery Charge</td>
                <td class="text-right">$ 50</td>
            </tr>
            <tr class="total-row">
                <td class="text-left">Total</td>
                <td class="text-right">$ 600</td>
            </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>