{% extends "base.html" %}
{%block title %} Single Products {% endblock %}
{% block content %}
{% include "header.html" %}

<div class="container mt-5">
    <!-- Contact Header Image -->
    <div class="contact-header mt-4">
        <img src="./static/bg image/downy.png" height="25%" width="100%" class="img-fluid" alt="Contact Us">
    </div>

    <!-- Contact Info Section -->
    <div class="contact-info">
        <div>
            <i class="bi bi-envelope"></i> abcd123@gmail.com
        </div>
        <div class="contact-icons">
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
        </div>
        <div>
            <i class="bi bi-telephone"></i> 14000-23423-43567
        </div>
    </div>

    <!-- Feedback Section -->
    <div class="feedback-section mt-4 ">
        <label for="feedback" class="form-label">Feedback</label>
        <textarea id="feedback" class="form-control mb-4" rows="4" placeholder="Enter your feedback here..."></textarea>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}