<footer class="bd-footer py-5 py-md-5 mt-5 bg-body-tertiary" style="background: #D9D9D9">
    <div class="row mx-5 ms-5">
        <!-- Company Info Column -->
        <div class="col-lg-3 mb-3">
            <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/" aria-label="Bootstrap">
                <span class="fs-2 fw-bolder mt-5">Grocery Store</span>
            </a>
        </div>
        <!-- Information Column -->
        <div class="col-6 col-lg-2 mb-3 custom-links">
            <h5 class="fw-bold">Information</h5>
            <ul class="list-unstyled py-3">
                <li class="mb-2"><a href="#">About</a></li>
                <li class="mb-2"><a href="#">Delivery Information</a></li>
                <li class="mb-2"><a href="#">Privacy Policy</a></li>
                <li class="mb-2"><a href="#">Terms & Conditions</a></li>
            </ul>
        </div>
        <!-- My Account Column -->
        <div class="col-6 col-lg-2 mb-3 custom-links">
            <h5 class="fw-bold">My Account</h5>
            <ul class="list-unstyled py-3">
                <li class="mb-2"><a href="#">My Account</a></li>
                <li class="mb-2"><a href="#">Wishlist</a></li>
                <li class="mb-2"><a href="#">Shopping Cart</a></li>
                <li class="mb-2"><a href="#">Newsletter</a></li>
            </ul>
        </div>
        <!-- Customer Services Column -->
        <div class="col-6 col-lg-2 mb-3 custom-links">
            <h5 class="fw-bold">Customer Services</h5>
            <ul class="list-unstyled py-3">
                <li class="mb-2"><a href="#">Contact</a></li>
                <li class="mb-2"><a href="#">Customer Services</a></li>
                <li class="mb-2"><a href="#">Returns</a></li>
                <li class="mb-2"><a href="#">Site Map</a></li>
            </ul>
        </div>
        <!-- Extras Column -->
        <div class="col-6 col-lg-2 mb-3 custom-links">
            <h5 class="fw-bold">Extras</h5>
            <ul class="list-unstyled py-3">
                <li class="mb-2"><a href="#">Brands</a></li>
                <li class="mb-2"><a href="#">Gift Vouchers</a></li>
                <li class="mb-2"><a href="#">Affiliates</a></li>
                <li class="mb-2"><a href="#">Specials</a></li>
            </ul>
        </div>
    </div>
</div>
</footer>
