{% extends "base.html" %}
{%block title %} Single Products {% endblock %}
{% block content %}
{% include "header.html" %}

    <div class="container-fluid ">
    <div class="row mx-4">
        <!-- Image Column -->
        <div class="col-md-6 ">
            <img src="./static/Catageory Images/baby care.jpeg" alt="Product Image" style="width: 100%; height: auto; max-height: 600px; object-fit: cover; border-radius: 5px;">
        </div>
        <!-- Product Details Column -->
        <div class="col-md-6 mt-5 pt-4">
            <div class="product-info">
                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Fresh Vegetables</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sweet Corn (Cholam)</li>
                    </ol>
                </nav>

                <!-- Product Title -->
                <h3>Sweet Corn (Cholam)</h3>
                <p>2 pcs (Approx. 700g - 800g)</p>

                <!-- Price Section -->
                <div class="d-flex align-items-center">
                    <div class="price">₹54</div>
                    <div class="original-price">₹89</div>
                    <div class="ms-3 discount-badge">39% Off</div>
                </div>

                <!-- Purchase Button -->
                <button class="btn fs-5 fw-bold mt-4 custome-button">Add Cart</button>
                </div>
        </div>
    </div>
<div class="row col-6 mx-4 mt-3">
    <div class="product-info text-left">
        <h3>About Product</h3>
        <ul class="list-unstyled">
            <li><strong>Description :</strong> Experience the richness of Aavin Delite Premium Fresh Cow Milk. Sourced from happy and healthy cows, this milk is packed with essential nutrients and vitamins, making it the perfect choice for a wholesome lifestyle. Its creamy texture and delicious taste will delight your taste buds and leave you feeling satisfied and nourished. Plus, it's conveniently packaged in a pouch for easy pouring and storage. Whether enjoyed on its own or added to your favorite recipes, Aavin Delite Premium Fresh Cow Milk is sure to be a household favorite. Make the switch to Aavin and taste the difference today!</li>
            <li><strong>Country of Origin :</strong> India</li>
            <li><strong>Shelf Life :</strong> 2 days</li>
            <li><strong>Manufacturer Name :</strong> Tamilnadu Co-Operative Milk Federation</li>
            <li><strong>Nutritional Info :</strong> Calcium, iron</li>
        </ul>
    </div>
</div>

<h2 class="mx-4 mt-4 p-4 fw-bolder ">Related Product</h2>

<div class="container-fluid mx-4">
<div class="row">
    <!-- Card 1 -->
    <div class="col custom-col mb-4">
        <div class="card h-100 custom-border">
            <img src="./static/Catageory Images/friuts and vegitables.jpeg" height="190" class="card-img-top" alt="Image 1">
            <div class="card-body text-left">
                <p class="card-title">This area is used to Show the product type</p>
            <div class="d-flex justify-content-between align-items-left">
                <!-- Price Section -->
                <div class="price-section">
                    <p class="mb-0 fs-4"><b>$90</b> <s>$100</s></p>
                </div>
                <!-- Rating Section (optional placeholder) -->
                <div class="rating-section">
                    ★★★★★
                </div>
            </div>
            </div>

            <button type="button" class="btn btn-orange fw-bold fs-5 custom-button">Add Cart</button>
        </div>
    </div>


    <div class="col custom-col mb-4">
        <div class="card h-100">
            <img src="./static/Catageory Images/top-view-dairy-products-wooden-background.jpg" height="190" class="card-img-top" alt="Image 2">
            <div class="card-body text-left">
                <p class="card-title">This area is used to Show the product type</p>
            <div class="d-flex justify-content-between align-items-left">
                <!-- Price Section -->
                <div class="price-section">
                    <p class="mb-0 fs-4"><b>$90</b> <s>$100</s></p>
                </div>
                <!-- Rating Section (optional placeholder) -->
                <div class="rating-section">
                    ★★★★★
                </div>
            </div>
            </div>

            <button type="button" class="btn btn-orange fw-bold fs-5 custom-button">Add Cart</button>
        </div>
    </div>
    <!-- Card 3 -->
    <div class="col custom-col mb-4">
        <div class="card h-100">
            <img src="./static/Catageory Images/meat and seafood.jpeg" height="190" class="card-img-top" alt="Image 3">
            <div class="card-body text-left">
                <p class="card-title">This area is used to Show the product type</p>
            <div class="d-flex justify-content-between align-items-left">
                <!-- Price Section -->
                <div class="price-section">
                    <p class="mb-0 fs-4"><b>$90</b> <s>$100</s></p>
                </div>
                <!-- Rating Section (optional placeholder) -->
                <div class="rating-section">
                    ★★★★★
                </div>
            </div>
            </div>

            <button type="button" class="btn btn-orange fw-bold fs-5 custom-button">Add Cart</button>
        </div>
    </div>
    <!-- Card 4 -->
    <div class="col custom-col mb-4">
        <div class="card h-100">
            <img src="./static/Catageory Images/groceries.jpg" height="190" class="card-img-top" alt="Image 4">
            <div class="card-body text-left">
                <p class="card-title">This area is used to Show the product type</p>
            <div class="d-flex justify-content-between align-items-left">
                <!-- Price Section -->
                <div class="price-section">
                    <p class="mb-0 fs-4"><b>$90</b> <s>$100</s></p>
                </div>
                <!-- Rating Section (optional placeholder) -->
                <div class="rating-section">
                    ★★★★★
                </div>
            </div>
            </div>

            <button type="button" class="btn btn-orange fw-bold fs-5 custom-button">Add Cart</button>
        </div>
    </div>
    <!-- Card 5 -->
    <div class="col custom-col mb-4">
        <div class="card h-100">
            <img src="./static/Catageory Images/groceries.jpg" height="190" class="card-img-top" alt="Image 4">
            <div class="card-body text-left">
                <p class="card-title">This area is used to Show the product type</p>
            <div class="d-flex justify-content-between align-items-left">
                <!-- Price Section -->
                <div class="price-section">
                    <p class="mb-0 fs-4"><b>$90</b> <s>$100</s></p>
                </div>
                <!-- Rating Section (optional placeholder) -->
                <div class="rating-section">
                    ★★★★★
                </div>
            </div>
            </div>

            <button type="button" class="btn btn-orange fw-bold fs-5 custom-button">Add Cart</button>
        </div>
    </div>
</div>
</div></div>
{% include "footer.html" %}
{% endblock %}
